body {
	background-color: #FDF5E6;
	font: 18px 'Courier New', Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#main {
	padding: 120px 0px 0px 0px;
	text-align: center;
}

#main a {
	line-height: 28px;
	color: #4169E1;
	text-decoration: none;
}

#main a:hover {
	color: #FF00FF;
}

#main ul li {
	font-size: 20px;
	list-style-type: none;
}