# ignore class files
*.class

# ignore classes directory
classes/

# ignore target directory
target/

# ignore bin directory
bin/

# ignore javadoc directory
javadoc/

# ignore eclipse config files
.project
.classpath
.settings/

# ignore idea config files
*.iml
.idea/